@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans");

:root {
  --primaryColor: rgb(95, 183, 234);
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: rgb(95, 94, 94);
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.5rem;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}
.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.text-main {
  color: var(--primaryColor);
}
.main-link {
  padding: 0.85rem 1.25rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
}
.main-link:hover {
  transition: var(--mainTransition);
  background: var(--darkGrey);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--darkGrey);
}
